body{
   margin: 0px;
   padding: 0px; 

}
/* img{
  margin-left:590px;
  width: 30%;
  

}
p{
  margin-left:890px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  }
  .a{
    right: 30px;
  } */
  img{
    width: 200px;
  }
  .logo{
    width: 50px;
  
  }
 

.logo1{
  width: 40px;
 
}
.logo2{
width: 40px;
}
.word{

}
